<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <div class="nav">
        <div class="wrap">
            <div class="logo"></div>
            <div class="textLogo">
                <h1>onet Sport w TV</h1>
            </div>
        </div>
        <div class="input"><input type="search" name="" id="in" placeholder="🔎  "></div>


    </div>
    <div class="container">
        <%resources.forEach(resource=>{%>
        <div class="item">
            <a target="_blank"
                href=<%='https://programtv.onet.pl'+resource.titleURL%>><%=resource.time%><%=resource.title%></a>
        </div>
        <%})%>
    </div>
   <script src="js/scrypt.js"></script>
</body>

</html>