<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <div class="nav">
        <div class="logo"></div>
        <div>
            <h1>Najnowsze Wiadomości z Kraju i ze Świata</h1>
        </div>
    </div>
<div class="container">
    <%resources.forEach(resource=>{%>
    <div class="item">
        <a target="_blank" href=<%=resource.titleURL%>><%=resource.title.replace( "Przejdź do","" )%></a>
    </div>
    <%})%>
</div>
</body>

</html>